<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend" style="width: 200px;">
                                <input class="form-check-input" type="checkbox" id="deleted"
                                    [(ngModel)]="filters.archived" (change)="fetch()"> <label for="deleted">Show
                                    deleted accounts</label>
                            </div>
                            <input [(ngModel)]="filters.keyword" type="text" name="table_search"
                                class="form-control float-right" placeholder="Search" (keyup.enter)="fetch()">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default" (click)="fetch()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Email Address</th>
                                <th>Gender</th>
                                <th>Role</th>
                                <th>Producer</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let user of users| paginate : { itemsPerPage: pagination.tableSize, currentPage: pagination.page, totalItems: pagination.count }; let i = index">
                                <td></td>
                                <td>
                                    <img class="direct-chat-img"
                                        src="{{url}}/{{user['user_document'] ? user['user_document']['document']['path'] : 'assets/images/user.png'}}"
                                        alt="">
                                </td>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                <td>{{user.mobile_number}}</td>
                                <td>{{user.email_address}}</td>
                                <td>{{user.gender ? user.gender.name : ''}}</td>
                                <td>{{user.role ? user.role.name : ''}}</td>
                                <td>
                                    <span class="badge {{user.is_seller ? 'bg-success' : 'bg-danger'}}">{{
                                        user.is_seller ? 'Yes' : 'No' }}</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-default" (click)="openModal(user)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100%">
                                    <div class="d-flex flex-row-reverse" *ngIf="pagination.count>0">
                                        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)"></pagination-controls>
                                        <div>
                                            <select (change)="onTableSizeChange($event)"
                                                class="form-control form-control-sm">
                                                <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                    {{ size }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="employee" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="nav-wrapper">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tab-personal-information" data-toggle="tab"
                                href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1"
                                aria-selected="true"><i class="ni ni-single-02 mr-2"></i>Personal Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tab-company-information" data-toggle="tab"
                                href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                                aria-selected="false"><i class="ni ni-badge mr-2"></i>Company Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tab-leave-information" data-toggle="tab"
                                href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3"
                                aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>Leave Information</a>
                        </li>
                    </ul>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                                aria-labelledby="tab-personal-information">
                                <form>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel"
                                aria-labelledby="tab-company-information">
                                <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                                    Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                                    butcher voluptate nisi qui.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel"
                                aria-labelledby="tab-leave-information">
                                <p class="description">Raw denim you probably haven't heard of them jean shorts Austin.
                                    Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor,
                                    williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                                    dreamcatcher synth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>