<div class="container" style="padding-top: 220px !important;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body p-4">
                    <div class="tab-content">
                        <div class="tab-pane fade ng-star-inserted show active">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Password"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': f.password.errors && (f.password.dirty || f.password.touched) }">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                        formControlName="confirm_password"
                                        [ngClass]="{ 'is-invalid': f.confirm_password.errors && (f.confirm_password.dirty || f.confirm_password.touched) }">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-key"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="f.confirm_password.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirm_password.errors.required">Confirm Password is required
                                        </div>
                                    </div>
                                </div>
                                <!-- <label for="confirm_password" class="form-label" style="margin-left: 0px;">
                                    Confirm Password
                                </label>
                                <input type="password" id="confirm_password" class="form-control"
                                    formControlName="confirm_password"
                                    [ngClass]="{ 'is-invalid': f['confirm_password'].errors && (f['confirm_password'].dirty || f['confirm_password'].touched) }">

                                <div *ngIf="f['confirm_password'].errors && (f['confirm_password'].dirty || f['confirm_password'].touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="f['confirm_password'].errors['required']">Confirm Password is required
                                    </div>
                                    <div *ngIf="f['confirm_password'].errors['minlength']">Confirm Password must be at
                                        least 6
                                        characters
                                    </div>
                                    <div *ngIf="f['confirm_password'].errors['mustMatch']">Password and Confirm Password
                                        must match.
                                    </div>
                                </div> -->

                                <button type="submit" class="btn btn-primary btn-block mt-5 mb-4"
                                    [disabled]="isSubmitted ? true : false"> Reset Password </button>
                                <div class="text-center">
                                    <a [routerLink]="['/auth']">Back to Log in</a>
                                </div>

                                <div *ngIf="alert.show" class="alert alert-{{alert.class}} text-center" role="alert"
                                    data-mdb-color="alert.class">
                                    {{ alert.class == 'success' ? 'Password successfully reset' :
                                    'An error occurred. Please try again!' }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>