<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>:) Oops!</h1>
                <h2>Temporarily down for maintenance</h2>
                <h1>Chat Support be back soon!</h1>
                <div>
                    <p>Sorry for the inconvenience but we're performing some maintenance at the moment. We'll be back
                        online shortly!</p>
                </div>
            </div>
        </div>
    </div>
</div>