<div class="">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <h2>Axie<strong>Infinity</strong></h2>
                        <p class="lead mb-5">123 Testing Ave, Testtown, 9876 NA<br>
                            Phone: +1 234 56789012
                        </p>
                    </div>
                </div>
                <div class="col-7">
                    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" class="form-control" formControlName="name"
                                [class]="{ 'is-invalid': f.name.errors && (f.name.dirty || f.name.touched) }" />

                            <div *ngIf="f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">E-Mail</label>
                            <input type="email" id="inputEmail" class="form-control" formControlName="email"
                                [class]="{ 'is-invalid': f.email.errors && (f.email.dirty || f.email.touched) }" />

                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email Address is required</div>
                                <div *ngIf="f.email.errors.pattern">Email Address must be a valid email</div>
                                <div *ngIf="f.email.errors.MustValid">Email Address doesn't exists</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSubject">Subject</label>
                            <input type="text" id="inputSubject" class="form-control" formControlName="subject"
                                [class]="{ 'is-invalid': f.subject.errors && (f.subject.dirty || f.subject.touched) }" />

                            <div *ngIf="f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Subject is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <app-texteditor [conditions]="{ showUploader: false }"></app-texteditor>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Send message" [disabled]="isSubmitted">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>