* {
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) -100%, rgba(121,33,9,1) -15%, rgba(251,160,132,1) 80%);
    // background: rgb(2,0,36);
    // background: linear-gradient(50deg, rgba(2,0,36,1) -100%, rgba(121,33,9,1) -15%, rgba(251,132,132,1) 80%);
    min-height:100vh;
    width: 100%;
}