<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>Welcome Email</h5>
                </div>
            </div>
        </div>
    </section>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <app-texteditor #welcome [conditions]="{ showUploader: false }" [variables]="variables"
            [content]="templates.welcome_email">
        </app-texteditor>

        <div class="row mt-5">
            <div class="col-md-12 text-right">
                <button class="btn btn-md btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>