$body-color: #cedbff;
$body-color: #fbfbfb;
// $sidebar-color: #242526;
$sidebar-color: #FFF;
// $primary-color: #3a3b3c;
$primary-color: rgb(120, 81, 169); // royal purple
// $primary-color-light: #3a3b3c;
$primary-color-light: #F6F5FF;
// $toggle-color: #fff;
$toggle-color: #DDD;
// $text-color: #ccc;
$text-color: #707070;

/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;