<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>FAQ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 450px;">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-default" (click)="openModal(null)">
                                    Add New
                                </button>
                            </div>
                            <input [(ngModel)]="filters.keyword" type="text" name="table_search"
                                class="form-control float-right" placeholder="Search" (keyup.enter)="fetch()">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default" (click)="fetch()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    <div class="alert alert-default mt-5 text-center" role="alert" *ngIf="faqs.length == 0">
                        No FAQ found.
                    </div>
                    <div class="col-md-12 pt-3" *ngIf="faqs.length > 0">
                        <accordion *ngFor="let faq of faqs; index as i">
                            <accordion-group heading="{{faq.question}}">
                                <div class="row">
                                    <div class="col-md-11" [innerHTML]="faq.answer"></div>
                                    <div class="col-md-1 text-right">
                                        <button class="btn btn-sm btn-default" (click)="openModal(faq)">Edit</button>
                                        <button class="btn btn-sm btn-danger ml-1" (click)="delete(faq)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>